aiosqlite
alembic
altair
annotated-types
anyio
apprise
asgi-lifespan
async-timeout
asynch
asyncpg
attrs
blinker
cachetools
certifi
python-dateutil==2.9.0.post0
streamlit
streamlit-aggrid
streamlit-authenticator==0.3.3
plotly==5.24.1
cffi
charset-normalizer
ciso8601
click
clickhouse-connect
clickhouse-driver
clickhouse-sqlalchemy
cloudpickle
colorama
contourpy
coolname
croniter
cryptography
cycler
dateparser
docker
exceptiongroup
fastapi
Flask
Flask-Cors
fonttools
fsspec
gitdb
GitPython
graphviz
greenlet
griffe
h11
h2
hpack
httpcore
httpx
humanize
hyperframe
idna
iniconfig
itsdangerous
Jinja2
jinja2-humanize-extension
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kafka
kafka-python
kiwisolver
leb128
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
oauthlib
orjson
packaging
pandas
pathspec
pendulum
pika
pillow
plotly
pluggy
prefect
prometheus_client
protobuf
psycopg2-binary
py4j
pyarrow
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
pyspark
pytest
python-dateutil
python-dotenv
python-slugify
pytz
PyYAML
readchar
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
shellingham
six
smmap
sniffio
SQLAlchemy
starlette
tenacity
text-unidecode
threadpoolctl
time-machine
toml
tornado
tqdm
typer
typing_extensions
tzdata
tzlocal
ujson
urllib3
uvicorn
watchdog
websockets
Werkzeug
zstandard
zstd
